*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #00bf8f, #001510);
    color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    margin: 6px;
}
.heading{
    font-size: 36px;
}
.input{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255,255,255, .9);
    border-color: rgba(7, 193, 168, .4);
    margin: 10px;
    outline: none;
}
.btn{
    background-color: #00bf8f;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-weight: bold;
    transition: background-color .3s ease-in;
}
.btn:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    background-color: aqua;
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}
